<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>API Gateway</title>
    <link rel='stylesheet' type='text/css' th:href='@{css/styles.css}'>
    <link rel='stylesheet' type='text/css' th:href='@{css/button.css}'>
</head>
<body>
<div class='wrapper'>
    <form name='signinform' class='card form' method="post" action="/logout">
        <div id='error-placeholder'></div>
        <div id='root' class='form-wrapper container'>
            <div class='continue'>Do you want to logout or continue as <span style="font-weight:bold" th:text="${userName}"></span>?</div>
            <button class="material-button-raised" type="submit">Log Out</button>
            <div class='routes'>
                <div th:each="routeId: ${routeIds}">
                    <input class="material-button-raised" type="button" name="cancel" th:value="${routeId}" th:onclick="'window.location.href = \'/' + @{${routeId}} + '/\''"/>
                </div>
            </div>
            <input type="hidden" name="_csrf" th:value="${csrfToken}">
        </div>
    </form>
</div>
</body>
</html>
